@use '../variables' as *;

.footer {
  background-color: $bg-dark;
  color: $bg-color;
  padding: $spacing-1000 0;
  text-align: center;
  margin-top: auto;

  &__text {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
  }
}

