// ============================================
// Cards
// ============================================

@use '../abstracts' as *;

.card {
  padding: $spacing-24 $spacing-32 $spacing-32;
  grid-row-gap: 32px;
  background-color: $color-white;
  border-radius: $border-radius-m;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.kozlonyszam-wrapper {
  grid-column-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.kozlonszam-content {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 73px;
  display: flex;
}

.kozlonyszam-texts {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.kozlonyszam-secondary-intertactions {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.gasette-link {
  color: $color-teal-1600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary;
  font-size: $font-size-18;
  font-weight: 700;
  line-height: 150%;
  text-decoration: underline;
}

.bodysmallregular {
  color: $color-gray-medium;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary;
  font-size: $font-size-14;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

// Responsive
@include respond-to-small {
  .card {
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }
  
  .kozlonyszam-wrapper,
  .kozlonszam-content {
    height: 100%;
  }
  
  .kozlonyszam-texts {
    grid-column-gap: $spacing-8;
    grid-row-gap: $spacing-8;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .gasette-link {
    text-align: left;
  }
}

@include respond-to-medium {
  .gasette-link {
    text-align: left;
  }
}

@include respond-to-tiny {
  .gasette-link {
    text-align: left;
  }
}

