// ============================================
// Cards
// ============================================

@use '../abstracts' as *;

.card {
  padding: $spacing-24 $spacing-32 $spacing-32;
  grid-row-gap: 32px;
  background-color: $color-white;
  border-radius: $border-radius-m;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  text-decoration: none;
  display: flex;

  @include respond-to-small {
    padding: $spacing-16;
  }

  .button-outline{

    @include respond-to-small {
      width: 100%;
    }
  }
}

.bodysmallregular {
  color: $color-gray-medium;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary;
  font-size: $font-size-14;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

// Responsive
@include respond-to-small {
  .card {
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }
}

