// ============================================
// Footer
// ============================================

@use '../abstracts' as *;

.footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.lobogo {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.rectangle-7 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 4px;
  text-decoration: none;
  display: flex;
}

.footer-inner {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 48px 0;
  text-decoration: none;
  display: flex;
}

.container-2 {
  grid-column-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: $container-max-width;
  text-decoration: none;
  display: flex;
}

.logo {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 214px;
  height: 66px;
  text-decoration: none;
  display: flex;
}

.magyar-kozlony-2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 176.03px;
  height: 66px;
  text-decoration: none;
  display: flex;
}

.footer-text-wrapper {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.impressum-links {
  grid-column-gap: 32px;
  opacity: 0.8;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.link-style-3 {
  grid-column-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.link-text-5 {
  color: $color-white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary;
  font-size: $font-size-14;
  font-weight: 700;
  line-height: 150%;
  text-decoration: underline;
}

.text-5 {
  color: $color-white;
  text-align: right;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary;
  font-size: $font-size-14;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

