// ============================================
// Sidebar
// ============================================
// Sidebar container for callouts and other sidebar content

@use '../abstracts' as *;

.sidebar {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;

  @media screen and (min-width: $breakpoint-tiny), (min-width: $breakpoint-small) {
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-medium), (min-width: $breakpoint-large) {
    width: 30%;
  }
}
