// ============================================
// Variables
// ============================================

// Colors
// ============================================
$color-font-primary: #404753;
$color-font-inverse: white;
$color-border: #606b7a;

$color-teal-1600: #0b3d3e;
$color-teal-1700: #0B3D3E;
$color-teal-1800: #082F30;
$color-teal-1900: #062828;
$color-teal-2000: #042121;

$color-accent-500: #38e0b1;
$color-accent-600: #33cc9d;
$color-accent-700: #2ebf96;

$color-positive-1000: #268D6B;

$color-white: #fff;
$color-gray-light: #edf4f2;

$color-gray-medium: #606b7a;
$color-callout-bg: #d9fcf0;
$color-callout-border: #2ebf96;

$background-informative-subtle: #C5EEFA;
$icon-informative-subtle: #008BCE;
$border-informative-subtle: #00B8F0;




// Fonts
// ============================================
$font-primary: Inter, sans-serif;
$font-secondary: Poppins, sans-serif;

// Font Sizes
// ============================================
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-46: 46px;
$font-size-52: 52px;
$font-size-58: 58px;
$font-size-66: 66px;
$font-size-74: 74px;

// Spacing
// ============================================
$spacing-0: 0px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 20px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-72: 72px;
$spacing-80: 80px;
$spacing-96: 96px;
$spacing-120: 120px;
$spacing-160: 160px;
$spacing-240: 240px;

// Border Radius
// ============================================
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px;
$border-radius-round: 1000px;

// Transitions
// ============================================
$transition-fast: 0.2s;
$transition-medium: 0.3s;

// Z-index
// ============================================
$z-index-nav: 2;
$z-index-dropdown: 50;
$z-index-mobile-menu: 100;
$z-index-navigation: 1000;
$z-index-lightbox: 2000;

// Container
// ============================================
$container-max-width: 1200px;
$container-max-width-medium: 728px;
$container-max-width-small: 940px;

